/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .app{
  text-align: center;
}

.counter-button{
  margin: 2rem;
  padding: 0.3rem;
  width: 2rem;
} */

* {
  font-family: 'Roboto', sans-serif;
}


.app {
  background: #111;  
  color: green;
}

.app-title {
  text-transform:uppercase;
}

.todos {
  margin-top: 5px;
}

.todo-item {
  padding: 0.5em;
  border:1px solid #fed;
  margin-bottom: 1em;
  user-select: none;
  cursor: normal;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-title {
  color: #02f;
  cursor: pointer;
  font-size: 1.2em;
  text-transform: uppercase;
}

.form {
  margin-bottom: 15px;
}

.buttons button {
  display: inline-block;
  margin-right: 4px;
  border: 2px solid red;
}

.todo-content {
  display: inline-block;
}
.completed {
  text-decoration: line-through;
}

.loading:before { 
  font-size: 5px; 
}

.loader {
  background-color: red;
  display:inline-block;
}
.no-loader {
  /*display:none;  */
}

.sub-tasks {
  border: 1px dotted lightgray;
}

.sub-tasks .header {
  color: rgb(1,0,0, 0.3);
  text-transform: uppercase; 
}
